<div *ngIf="hero">
  <h2 id="hero-name">{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name" id="name-input"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()" id="save-button">save</button>
</div>
