<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName id="add-hero-input"/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''" id="add-hero-button">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}" [id]="hero.id">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)" [id]="hero.id + 'delete'">x</button>
  </li>
</ul>
